.wex-single-element {
   font-family: Arial,sans-serif;
}

.wx-title {
	display: flex;
	align-items:center
}

.wx-title a {
	text-decoration: none;
}
.wex-field-label {
	font-weight: bold;
}

.wex-field-value {
}

.wex-field-edit, .wex-field-edit>input {
	width: 100% !important
}

.wex-cell-centered {
	text-align: center;	
}

.wex-cell-righted {
	text-align: right;	
}

.ui-filter-column .ui-column-customfilter .custom-filter {
     width: 100%;
     box-sizing: border-box;
     font-size: 10;
 }
 
.wex-input-70>input {
	max-width: 70px;
	width: 70px;
}
.wex-input-100>input {
	max-width: 100px;
	width: 100px;
}
.wex-input-120>input {
	max-width: 120px;
	width: 120px;
}
.wex-input-150>input {
	max-width: 150px;
	width: 150px;
}
.wex-input-right>input {
	text-align: right;
}

.wex-tags .ui-autocomplete-multiple-container {
	width:100%
}

.wex-tag {
	border: thin;
	padding: 1 5 1 3;
    border-color: darkgrey;
    border-style: solid;
    border-radius: 5px;
}

.wex-tag-SYSTEM {
	background-color: grey
}
.wex-tag-ASSET {
	background-color: white;
}
.wex-tag-LIABILITY {
	background-color: orange
}
.wex-tag-INCOME {
	background-color: blue
}
.wex-tag-EXPENSE {
	background-color: red
}
.wex-tag-DISCRIMINATOR {
	background-color: yellow;
}
.wex-tag-CONSOLIDATION {
	background-color: silver;
}
.wex-tag-FLAG {
	background-color: green;
}

.wex-expense-past {
}
    
.wex-expense-futur {
	opacity: 0.5
}

.wex-entry-system {
	opacity: 0.5
}